<div class="row">
	<div class="col-sm-3">
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Select a Collection</h3>
  			</div>
 			<div class="panel-body">
				<div class="radio" ng-repeat="collection in collections">
  					<label>
			    		<input type="radio" name="collectionRadios" ng-value="collection" ng-model="$parent.selectedCollection">{{collection}}
			    	</label>
				</div>  
			</div>
  			<div class="panel-footer">Click point on graph to see more details.</div>
		</div>
	</div>
	<span us-spinner spinner-key="myspinner"></span>
	<div class="col-sm-12">
		<chart 
			title="Time to complete operations" 
			y-axis-title="Time (ms)" 
			series-and-categories="timeOperations">
		</chart>
	</div>
	<div class="col-sm-12">
		<chart 
			title="Most popular operations" 
			y-axis-title="Count" 
			series-and-categories="countOperations">
		</chart>
	</div>
	<div class="col-sm-12">
		<chart 
			title="Count over time" 
			y-axis-title="Count" 
			series-and-categories="countOverTime"
			type="spline">
		</chart>
	</div>
	<div class="col-sm-12">
		<chart 
			title="Average milliseconds to complete over time" 
			y-axis-title="Average milliseconds" 
			series-and-categories="millisOverTime"
			type="spline">
		</chart>
	</div>
</div>